<!DOCTYPE html>
<html>
  <head>
    <title>MyYelp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= render "shared/header" %>
    <% flash.each do |name, msg| %>
      <div class="alert alert-<%= name == 'error' ? 'danger' : 'success' %>" >
        <a class="close" data-dismiss='alert' >&#215;</a>
        <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>


